*
!fallType.gd
!sineXsmall.gd
!sineXlarge.gd
!sineYsmall.gd
!sineYlarge.gd
!360c.gd
!360cc.gd
!double360c.gd
!double360cc.gd
!alternating.gd
!angleFlip.gd
!opposite.gd
!snapTime.gd
!miraiLink.gd
!miraiLinkSimple.gd
!archimedeanSpiralInwards.gd
!archimedeanSpiralOutwards.gd
!horizontalSineWave.gd
!horizontalSineWaveSmall.gd
!horizontalSineWaveAbs.gd
!horizontalSineWaveAbsSmall.gd
!horizontalSineWaveChainsaw.gd
!horizontalSineWaveChainsawSmall.gd
!comfyCopy.gd
!LICENSE.MD
!README.MD
!.gitignore
