*
!fallType.gd
!sineXsmall.gd
!sineXlarge.gd
!sineYsmall.gd
!sineYlarge.gd
!360c.gd
!360cc.gd
!double360c.gd
!double360cc.gd
!alternating.gd
!angleFlip.gd
!snapTime.gd
!miraiLink.gd
!miraiLinkSimple.gd
!LICENSE.MD
!README.MD
!.gitignore
